<style>
    body{
        text-align: center;
        background-color: black;
        color: azure;
    }
</style>
<h1>Covide-19 Tracker</h1>
{{#each info }}
    <h2>{{this.country}}</h2>
    <img src="{{this.countryInfo.flag}}"></img><br>
    <div>Total Cases {{this.cases}}</div>

{{/each}}